@{
    ViewData["Title"] = "EnduroBud";
}

<img src="https://unsplash.com/search/running?photo=XMcoTHgNcQA" alt="Picture of person running" />


<h3>The only place on the web to keep track of your <b>Endurance Training</b></h3>
